<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
RewriteBase / 
RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]

Options -Indexes

</IfModule>